# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Code coverage
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
/vendor/

# Go workspace file
go.work
go.work.sum

# Secrets and env
/secrets
.env

# Build output
/cleanarch_with_postgres
/bin/
/dist/

# Logs
*.log

# IDEs
/.idea/
/.vscode/

# macOS
.DS_Store

# Docker
docker-compose.override.yml
